=render 'commons/header'

.section-title Your Profile

.container.profile-wrapper
    -if current_user.profile&.nickname&.present?
        .profile-label
            ユーザーネーム
        .profile-username.profile-info
            →#{current_user.displayname}
    -if current_user.profile&.birthday&.present?
        .profile-label
            誕生日
        .profile-birthday.profile-info
            →#{current_user.profile&.birthday&.strftime('%m/%d')}
    -if current_user.profile&.club&.present?
        .profile-label
            部活
        .profile-club.profile-info
            →#{current_user.profile&.club}
    -if current_user.profile&.long_term_goal&.present?
        .profile-label
            志望校
        .profile-long_term_goal.profile-info
            →#{current_user.profile&.long_term_goal}
    -if current_user.profile&.short_term_goal&.present?
        .profile-label
            現在の目標
        .profile-short_term_goal.profile-info
            →#{current_user.profile&.short_term_goal}
    -if current_user.profile&.memo&.present?
        .profile-label
            備考
        .profile-memo.profile-info
            →#{current_user.profile&.memo}
    
    =link_to edit_profile_path do
        %button.btn.btn-primary.btn-lg.mt-100.mx-3.mb-100
            プロフィールを編集する