.container
    %ul
    - task.errors.full_messages.each do |message|
        %li= message
    = form_with(model: task, url:task_managements_path ,local: true) do |f|
        .field
            .field-label
                = f.label :title, '課題内容', class:"form-label"
            .field-field
                = f.text_field :title, class:"form-field"
        .field
            .field-label
                = f.label :content, '詳細', class:"form-label"
            .field-field
                = f.text_area :content, class:"form-field form-area"
        .field
            .field-label
                = f.label :subject, '教科', class:"form-label"
            .field-field
                = f.select :subject, Task.subjects.map { |k, v| [ I18n.t("enum.subjects.#{k}"), k ] }, {}, { class: "form-field" }
        .field
            .field-label
                = f.label :status, '達成状況', class:"form-label"
            .field-field
                = f.select :status, Task.statuses.map { |k, v| [ I18n.t("enum.statuses.#{k}"), k ] }, {}, { class: "form-field" }
        .field
            .field-label
                = f.label :user_id, '対象生徒', class:"form-label"
            .field-field
                = f.select :user_id, User.all.map {|k, v| [ k.username , k.id ]}
        .field
            .field-label
                = f.label :command, '課題', class:"form-label"
            .field-field
                = f.check_box :command
        
        .actions
            = f.submit "課題を追加する", class: "btn btn-primary btn-submit"