.container.align-center
  .site-title.text-center
    %span<>
      H
    YPER
    %span<>
      W
    EB
    %span<>
      S
    ERVICE
  .form-wrapper
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :username
        %br/
        = f.text_field :username, autofocus: true, autocomplete: "username", class: "text"
      .field
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "current-password", class: "text"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      .actions.text-center
        = f.submit "Log in", class: "btn btn-primary btn-lg my-3"
    = render "users/shared/links"
