=render 'commons/header'

.section-title Home

.container.home-wrapper
    .home-title-news.home-title
        お知らせ
    %ul.home-news-contents.home-content
        =link_to notifications_path do
            -@notifications.each do |notification|
                .notification-box
                    =notification.created_at.strftime('%m/%d')
                    　#{notification.title}
                
    .home-title-tasks-list.home-title
        課題一覧

    %ul.home-tasks-list.home-content
        =link_to tasks_path do
            -@tasks.each do |task|
                .d-flex.justify-content-between
                    %li
                        #{task.title}（#{I18n.t("enum.subjects.#{task.subject}")}）
                    .task-status
                        =I18n.t("enum.statuses.#{task.status}")
    - if can? :read, current_user
        .communication.home-title
            最新のメッセージ
        %ul.communication-messages#messages{"data-room_id" => "#{@room.id}"}
            = render @messages
        .text-end
            =link_to "→チャットルームへ移動", room_path(current_user.id),class: "communication-link"

.page-bottom