=render 'commons/header'

.section-title ユーザー作成

.container
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "users/shared/error_messages", resource: resource
    .field
      = f.label :username, 'Username（生徒名をローマ字小文字ファミリーネーム＋ファーストネーム）', class: 'fs-2'
      %br/
      = f.text_field :username, autofocus: true, autocomplete: "username", class: "form-field"
    .field
      = f.label :password, class: 'fs-2'
      - if @minimum_password_length
        %em.fs-2
          (#{@minimum_password_length} characters minimum)
      %br/
      = f.password_field :password, autocomplete: "new-password", class: "form-field"
    .field
      = f.label :password_confirmation, class: 'fs-2'
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-field"
    .field
      = f.label :admin, class: 'fs-2'
      = f.check_box :admin
    .actions.text-right
      = f.submit "新しい生徒を登録する", class: 'btn btn-primary btn-lg btn-submit'


.container.mb-5
  %p.fs-1【ユーザー一覧】
  -@users.each do |user|
    %div.fs-3
      = user.username
      -if user.profile&.nickname.present?
        （#{user.profile&.nickname}） 
    
